<%- include("header") -%>


<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolore magni libero nemo id excepturi distinctio vitae placeat. Libero sint rerum distinctio, saepe perspiciatis dignissimos possimus fugiat perferendis sunt mollitia!</p>


<%- include("footer") -%>
